@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #7c7c7c;
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}

.headerbtn {
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  display: inline-block;
  position: relative;

  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 20px;
  width: 120px;
}

.headerbtn:hover {
  border: 1px solid #4281ff;
  background-color: #4281ff;
  width: 120px;
}

.abcgintoText {
  font-family: "ABC Ginto Nord Unlicensed Trial", sans-serif;
}

.asText {
  font-family: "Albert Sans", sans-serif;
}

.ipsText {
  font-family: "IBM Plex Sans", sans-serif;
}
.ipsText:hover{
  background-color: unset;
  border: 2px solid #4281ff;
}

.transition-img {
  transition: opacity 0.3s ease-in-out;
}

input::placeholder {
  color: #8a8a8a;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Albert Sans", sans-serif;
}


input:focus {
  box-shadow: 0 0 5px #8a8a8a;
  outline: none;
  content:'';
}

input {
  font-size: 28px; 
  padding: 20px; 
  width: 300px;
}

#chartdiv {
  width: 1000px;
  height: 1000px;
  position: relative;
  left: 100px;
}

.tab-item {
  transform: scale(0.95);
  transition: height 1s ease, opacity 1s ease, transform 1s ease;
}

.tab-item.active {
  opacity: 1;
  transform: scale(1);
}

.hoverItem{
  transform: scale(0.95);
  transition: height 1s ease, opacity 1s ease, transform 1s ease;
  margin-left: 4px;
}

.current {
  border: 1px solid #4281ff;
  background-color: #4281ff;
  width: 120px;
}

.btn:hover{
  background-color: unset;
  border: 2px solid #4281ff;

}

.animated-button {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-family: "Albert Sans", sans-serif;
  font-size: 20px;
  background: none;
  border-radius: 60px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #007bff, #0056b3);
  z-index: -1;
  transform: translateX(-50%);
  animation: none;
}

.animated-button:hover::before {
  animation: fillEffect 0.6s ease-out forwards;
}

.animated-button:hover {
  color: #fff;
}

@keyframes fillEffect {
  0% {
    width: 0;
  }
  50% {
    width: 120%;
  }
  100% {
    width: 200%;
  }
}
